<html>
  <head>
    <title>Hello, world!</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <style type="text/css">
      body {
        padding: 30px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      {{{yield}}}
    </div>
  </body>

</html>