<h5>Two Tweets</h5>

<div class="tweet" style="border:1px solid #eee">
{{>tweet_text:random(stream_tweet)}}
</div>

<div class="tweet" style="border:1px solid #ccc">
{{>tweet_text:random(stream_tweet)}}
</div>